<html>
<head>
	<title id = "titulo">Inicio</title>
	<link rel="stylesheet" type="text/css" href="../styles/mi.css">
	<meta charset="utf-8">
</head>
<body>
<div class="topnav" id="myTopnav">
  <a href="index.html">Inicio</a>
  <a href="pila.html">Pila</a>
  <a href="cola.html">Cola</a>
  <a href="lista.html">Lista</a>
  <a href="javascript:void(0);" class="icon" onclick="lolazo()">&#9776;</a>
</div>
<div ALIGN=center class="wrap">
	<h1>ESTRUCTURAS DE DATOS WEB</h1>
	<H2>Equipo:</H2>
	<h4>Carlos Tonatihu Barrera Pérez<br>Galaviz Morua Juan Carlos</h4>
	<H2>Grupo:</H2> <h4>2CM9</h4>
	<H2>Profesora:</H2> <h4>Rivera de la Rosa Mónica</h4>
	<H2>Materia:</H2> <h4>Tecnologías para la web</h4>
  <div id="prueba"></div>
</div>
<script type="text/javascript" src="../app/mi.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
var root = "https://jsonplaceholder.typicode.com";
  $.ajax({
    url: root + "/posts/1",
    method: "GET"
  }).then(function(data) {
    document.getElementById("prueba").innerHTML=data.title;
  });
</script>
</body>
</html>
