@import "./normalize.styl"
@import "./fonts.styl"
h1, h3, h2
    font-family Lobster, sans-serif
    margin 0

footer
    h3
        color white

header
    background-image url("../img/atardecer.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    color white
    height: 150px
    h1
        display inline-block
        top: 70px;
        position: relative;
        left: 200px;
    ul
        display inline-block
        padding: 0px;
        right: 100px;
        position: absolute;
        top: 50px;
        li
            display inline-block
            margin 1em
            padding 0.5em
            &:hover
                background #66a7c5

.second-header
    background-color #efeff1
    color red
    padding: 2em
    .contenedor
        width: 900px
        margin: 0 auto
        display: block
        div
            display: inline-block;
            position: relative;
            bottom: 30px;
    figure
        display inline-block
        img
            width 400px
            display inline-block
            height 200px
    h2
        color black
        margin-bottom: 1em
    p
        width: 400px;
        margin: 2em 0px;
    span
        display: inline-block;
        font-size 1.5em
        color white
        background #66a7c5
        padding 4px 12px
        border-radius 50%

.main, .aside
    display: inline-block;
    color gray
    h3
        color black
.main
    width: 55%
    padding 2em 1em 2em 3em
    &-article figure, &-article div
        display: inline-block;
    &-article figure img
        width: 300px
        height: 200px
        border-radius: 50%
    &-article div
        width: 40%
        h3
            color: lightblue
            display: inline-block;
.article
    display inline-block;
    width: 45%
    margin .5em
.final-article
    width: 80%
    p:nth-child(2)
        color lightblue
.button
    background-color: red
    color white
    border none
    padding .8em 0
.noticias
    .elemento
        span
            color lightblue
            font-style italic
        a
            color red
            &::after
                content " >>"
    &-sub
        span
            color red
            font-size: 1.5em
            margin-right: 1em
#input
    background: lightgray
    height: 2em
    border none
    margin-right .5em
#titulo
    font-family: 'Open Sans', sans-serif;
    color lightblue
.contacto
    p:nth-child(2)
        color lightblue
    p span
        color red
        font-size: 1.5em
        margin-right 1em
.aside
    width: 35%

.first-footer
    background-image url("../img/velas.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    color white
    padding 2em 5em
    h3
        font-size: 1.5em
    .columna
        display inline-block
        width 33%
    .segunda
        >div
            background-color: rgba(30, 9, 9, 0.48)
            margin-right: 2em
        input[type="text"]
            height: 2em
            margin-right 4px
        input[type="submit"]
            color red
            background:black
            border none
            padding .6em
    .primera
        ul
            color black
            list-style: none
            padding 0
            padding-right: 2em
            li
                border-bottom 1px solid red
                padding .5em 0
                margin 0
    .tercera
        h3
            margin-bottom: .5em
        p
            background: rgba(30, 9, 9, 0.48)
            padding-bottom: 1em
        div
            border-bottom 1px solid red
            padding-bottom: 1em
            a
                text-decoration: none
                color: white
                margin: 1em 1em 1em 0
                font-size: 1.5em
.terapias
    p
        color lightblue
        span
            color red
            font-size: 2em
            margin-right 1.5rem
    ul
        list-style: none
        li
            border-bottom: 1px solid red
            padding: .5em
        &:first-child
            color red

.second-footer
    background #243036
    height 100px
    color white
    text-align center
    p
        position relative
        top 45px
        margin 0
