@font-face
  font-family 'icomoon'
  src:url('../fonts/icomoon.eot?-tkg4ro')
  src:url('../fonts/icomoon.eot?#iefix-tkg4ro') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-tkg4ro') format('woff'),
    url('../fonts/icomoon.ttf?-tkg4ro') format('truetype'),
    url('../fonts/icomoon.svg?-tkg4ro#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-icon-facebook
  &:before
    content "\ea90"

.icon-icon-twitter
  &:before
    content "\e902"

.icon-icon-instagram
  &:before
    content "\ea92"

.icon-icon-directions_run
    &:before
      content "\e900"
